.filter-btn {
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: white;
  background: #008489;
  border: none;
  font-size: 20px;
  border-radius: 3px;
}

.filter-btn:hover {
  cursor: pointer;
}

label {
  font-weight: 500;
}
