.box-layout {
  margin: 10% auto;
  width: 40%;
  background: #e5e5e5;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.box-layout p {
  font-weight: 500;
}

.box-layout input {
  margin: 5px 0;
  width: 80%;
  font-size: 20px;
  border: none;
}

.box-layout button {
  background: #1c88bf;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px;
  margin: 10px 5px;
  font-weight: 500;
  font-size: 20px;
}

.box-layout button:hover {
  cursor: pointer;
}

.box-layout .error {
  margin: 10px 5px;
  color: red;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 480px) {
  .box-layout {
    width: 80%;
  }
}
